*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #527c70;
    position: relative;
    height: 100vh;
    
}
main{
    width: 600px;
    height: 500px;
    background-color: #f0f8ff;
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 70px;
}
.logo img{
    width: 100px;
    margin-bottom: 150px;

}
form{
    width: 250px;
}
button {
    margin-bottom: 20px;
}

a{ 
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    gap: 30px;
    
}
footer a {
    text-decoration: none;
    color: rgb(175, 175, 175);
}
footer a:hover {
    color: rgb(226, 226, 226);
}
.divCopy{
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: rgb(175, 175, 175);
}
.prompt-regular {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .prompt-extrabold {
    font-family: "Prompt", sans-serif;
    font-weight: 800;
    font-size: 50px;
    font-style: normal;
  }
